---
const { skill, image } = Astro.props;
---

<li>
  <p class="visually-hidden">{skill}</p>
  <img src={image} alt="" />
</li>

<style>
  li {
    position: relative;
    padding-left: 2rem;
  }

  li::after {
    --_size: 0.5rem;

    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: var(--_size);
    transform: translateX(-50%);
    aspect-ratio: 1;
    outline: 0.5rem solid var(--clr-primary-400);
    border-radius: 50%;
    background: var(--clr-neutral-100);
  }
</style>
